.paid {
    background-color: #D0ED4F !important;
}

.expired {
    background-color: #ED5249 !important;
    font-weight: bold !important;
}

.fewer_days {
    background-color: #ED9141 !important;
    font-weight: bold !important;
}

.few_days {
    background-color: #EDC54F !important;
}
